.list {
  &-content {
    // 背景色
    background-color: #fff;
    // 内边距
    padding: 35px 25px 25px;
    position: relative;
  }

  &-item {
    // 外边距
    margin: 15px 0;
    // 行距
    line-height: 1.2em;
    // 字体大小
    font-size: 16px;
  }

  &-link {
    // 标题在左，时间在右，中间用空白填充
    display: flex;
    justify-content: space-between;
  }
}
